ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--brand-color);
  color: var(--third-black-color);
  font-family: Roboto, Raleway, Arial, Verdana, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

:root {
  --brand-color: #ffffff;
  --second-white-color: #f5f5f5;
  --accent-color: #2196f3;
  --prime-black-color: #000000;
  --second-black-color: #212121;
  --third-black-color: #757575;
  --backgroun-footer-color: #2f303a;
  --active-color: #188ce8;
  --background-button-color: #f5f4fa;
  --mailto-ground-color: rgba(255, 255, 255, 0.6);
  --subscribe-border-color: rgba(255, 255, 255, 0.3);
  --gray-border-color: #eeeeee;
  --header-line-color: #ececec;
  --customer-border-color: #afb1b8;
  --elipse-color: #43444d;
  --background-hero-color: #c4c4c4;
  --bacground-what-we-doing-color: rgba(47, 48, 58, 0.8);
  --background-portfolio-box-details: rgba(33, 150, 243, 0.9);
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --time-cubic-bezier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --modal-no-focus-color: rgba(33, 33, 33, 0.2);
  --textarea-text-color: rgba(117, 117, 117, 0.5);
}

li {
  list-style-type: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */
header {
  border-bottom: 1px solid var(--header-line-color);
}
.header-container {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__header {
  color: var(--prime-black-color);
}
.accent {
  color: var(--accent-color);
}
.navigation {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  padding: 0;

  &__list {
    margin-left: 93px;
    display: flex;
    gap: 50px;
  }

  &__link.link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-black-color);
    text-decoration: none;
    display: block;
    padding: 32px 0;
    transition: color var(--time-cubic-bezier);
  }

  &__link.link.current {
    color: var(--accent-color);
    display: block;
    position: relative;
  }

  &__link.link.current::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    bottom: -1px;
  }
}
.advantages__item {
  display: flex;
  gap: 30px;
}
.link,
.icon {
  transition: fill var(--time-cubic-bezier);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
.container-contacts {
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;

  &__item {
    color: var(--third-black-color);
    font-weight: 500;
    text-decoration: none;
    display: block;
    padding: 32px 0;
    transition: color var(--time-cubic-bezier);

    &:hover .icon,
    &:focus .icon {
      fill: var(--accent-color);
    }
  }

  &.link {
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 10px;
    fill: var(--third-black-color);
  }
}
.container-contacts__mailito-tel {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  align-items: center;
}

/* Main */
.hero {
  background-color: var(--background-hero-color);
  padding: 200px 0;
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero-Img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--brand-color);
  margin: 0 auto;
  text-transform: uppercase;
  max-width: 696px;
}

.hero__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--brand-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time-cubic-bezier);

  &:hover,
  &:focus {
    background-color: var(--active-color);
  }
  &:active {
    color: var(--brand-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
.portfolio__button {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.filter {
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
}

.portfolio__link-filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  background-color: var(--background-button-color);
  cursor: pointer;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier),
    box-shadow var(--time-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--brand-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--second-black-color);
  margin: 0 0 50px 0;
}

.advantages,
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}
.advantages {
  &__icon {
    display: flex;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--background-button-color);
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
  }
  &__title {
    line-height: 1.14;
    font-size: 14px;
    color: var(--second-black-color);
  }
}

.regular-customers {
  &__line {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--customer-border-color);
    fill: var(--customer-border-color);
    border-radius: 4px;
    transition: fill var(--time-cubic-bezier), border-color var(--time-cubic-bezier);

    &:focus,
    &:active,
    &:hover {
      fill: var(--accent-color);
      border-color: var(--accent-color);
    }
  }
}

.text {
  line-height: 1.71;
  margin-top: 10px;
}

.what_we_doing-section {
  padding-bottom: 94px;

  &__container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }

  &__part {
    display: flex;
  }

  &__item:not(:last-of-type) {
    margin: 0 30px 0 0;
  }
  &__details {
    display: flex;
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background: var(--bacground-what-we-doing-color);
    color: var(--brand-color);
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    line-height: 1.14;
    font-weight: 700;
  }

  &__wrap {
    position: relative;
  }
}

.our-team {
  background-color: var(--background-button-color);
  padding: 94px 0;

  &__presentation {
    background-color: var(--brand-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }

  &__title {
    font-size: 36px;
    line-height: 1.17;
    color: var(--second-black-color);
    text-align: center;
    margin-bottom: 50px;
  }

  &__item {
    display: flex;
    gap: 30px;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-black-color);
    text-align: center;
    margin-bottom: 10px;
  }
  &__card {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__txt {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
  }
  &__web {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 16px;
  }
}
.portfolio {
  &__main {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--second-black-color);
    margin: 0;
  }

  &__txt {
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    color: var(--third-black-color);
  }

  &__box--grey-border {
    border-right: 1px solid var(--gray-border-color);
    border-bottom: 1px solid var(--gray-border-color);
    border-left: 1px solid var(--gray-border-color);
    padding: 20px 24px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__box-link-details {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: var(--background-portfolio-box-details);
    color: var(--brand-color);
    font-size: 18px;
    line-height: 1.56;
    padding: 63px 24px;
    transform: translateY(101%);
    transition: transform var(--time-cubic-bezier);
  }
  &__box-link-wrap {
    position: relative;
    overflow: hidden;
  }
  &__box-link {
    display: block;
    text-decoration: none;
    color: var(--third-black-color);
    transition: box-shadow var(--time-cubic-bezier);
  }

  &__box-link:hover,
  &__box-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &__box-link:hover &__box-link-details,
  &__box-link:focus {
    transform: translateY(0);
  }
}
.img-block {
  display: block;
  width: 100%;
}
/* Footer */
.ground-footer {
  background-color: var(--backgroun-footer-color);
  padding-top: 60px;
  padding-bottom: 60px;

  &__logo {
    color: var(--brand-color);
    display: inline-block;
    margin-bottom: 20px;
  }
  &__link-address {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-decoration: none;
    transition: color var(--time-cubic-bezier);
  }

  &__mailto-tel {
    line-height: 1.71;
    color: var(--mailto-ground-color);
    text-decoration: none;
    transition: color var(--time-cubic-bezier);
  }

  &__address-style {
    font-style: normal;
  }

  &__contacts {
    margin-top: 9px;
  }
}

.ground-footer__join {
  margin-left: 70px;
}

.container.footer {
  display: flex;
  align-items: baseline;
}

.ground-footer {
  &__text {
    color: var(--brand-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    line-height: 1.14;
    font-weight: 700;
  }

  &__social-web {
    display: flex;
    gap: 10px;
    justify-content: center;
    fill: var(--brand-color);
  }

  &__social-link {
    width: 44px;
    height: 44px;
    background-color: var(--elipse-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color var(--time-cubic-bezier);

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }
  }
  &__icon {
    fill: var(--brand-color);
  }
  &__subscribe {
    margin-left: 93px;
  }

  &__input {
    width: 358px;
    height: 50px;
    background: var(--backgroun-footer-color);
    border: 1px solid var(--subscribe-border-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    color: var(--brand-color);
    padding-left: 16px;
  }

  &__input placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
  }
  &__form {
    display: flex;
    gap: 12px;
    fill: var(--brand-color);
  }
  &__subscribe--btn {
    border: none;
    width: 210.88px;
    height: 50px;
    color: var(--brand-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10.54px;
    justify-content: center;
    cursor: pointer;
    transition: background-color var(--time-cubic-bezier);

    &:focus,
    &:hover {
      background: var(--active-color);
    }
  }
}

::-webkit-input-placeholder {
  color: var(--mailto-ground-color);
}

.social-link {
  width: 44px;
  height: 44px;
  color: var(--customer-border-color);
  background-color: var(--brand-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--time-cubic-bezier), background-color var(--time-cubic-bezier);

  &:hover,
  &:focus {
    color: var(--brand-color);
    background-color: var(--accent-color);
  }

  &__icon {
    fill: currentColor;
  }
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--backdrop-color);
  opacity: 1;
  transition: opacity 250ms var(--cubic-bezier);
}

.modal {
  width: 528px;
  height: 581px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  background: var(--brand-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time-cubic-bezier);
}

.is-hidden {
  visibility: hidden;
  pointer-events: none;
  transition: visibility var(--time-cubic-bezier);
}

.modal__close-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background: var(--brand-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: fill var(--time-cubic-bezier);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
  margin-bottom: 12px;
}

.modal__form-element {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__input-modal {
  position: relative;
  margin-top: 4px;
}

.modal__form-field svg {
  position: absolute;
  top: 50%;
  left: 12px;
}

.modal__form-element input {
  height: 40px;
  border: 1px solid var(--modal-no-focus-color);
  border-radius: 4px;
  padding-left: 42px;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: border-color var(--time-cubic-bezier);
}

.modal__submit-btn {
  border: none;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: var(--brand-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: background-color var(--time-cubic-bezier);

  &:focus {
    background: var(--active-color);
    transition: background-color var(--time-cubic-bezier);
  }
}

.modal__form-element input:focus {
  border: 1px solid var(--accent-color);
}

.modal__form-element input:focus + svg {
  fill: var(--accent-color);
  transition: fill var(--time-cubic-bezier);
}

.modal__form .btn {
  border: none;
  padding: 10px 52px;
  color: var(--brand-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.modal__form {
  margin-bottom: 20px;
}

.modal__contract {
  margin-left: 6px;
  color: var(--accent-color);
  text-decoration: none;
  text-decoration: underline;
}

textarea {
  width: 448px;
  height: 120px;
  border: 1px solid var(--modal-no-focus-color);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  cursor: pointer;
  outline: none;
  color: var(--backgroun-footer-color);
  transition: border-color var(--time-cubic-bezier);
}

textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal__form-field {
  position: relative;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.modal__textarea-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  display: block;
  margin-bottom: 4px;
}

.accept-label {
  font-weight: 400;
  line-height: 1.71;
}

textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--textarea-text-color);
}


.modal__check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.modal__accept {
  display: flex;
  align-items: center;
}

.modal__checkbox {
  border: 2px solid var(--second-black-color);
  width: 16px;
  height: 15px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  margin-right: 8.38px;
  margin-left: 12px;
  transition: border-color var(--time-cubic-bezier);
}

.modal__icon-check {
  fill: var(--brand-color);
}

.modal__accept input:checked + label .modal__checkbox {
  background: var(--accent-color);
  border: none;
  display: flex;
  justify-content: center;
}

.modal__accept input:focus + label .modal__checkbox {
  border-color: var(--accent-color);
}

.modal__checkbox-label {
  display: flex;
}
